span.icon:before { 
    font-family: FontAwesome; 
    content: "\f015"; 
  }
.jumbotron {
    background-image: url("https://aqm28202.github.io/Train-Scheduler/assets/images/map3.png"); 
    background-size: cover;
    /* opacity: 0.5;
  filter: alpha(opacity=50); */
  }

